<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>myfirst blog</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

</head>
<body style="margin-top: 0px; margin-left: 0px;height: 100vh; margin-bottom: 0%;margin-right: 0%; background-image: url('tools.jpg');">
<div class="general">
    <div class="menu" style="position: absolute;margin-left: 200px;background-color :rgb(193, 210, 211);right: 0px;bottom: 0px;left: 0px;top: 0px;height: 200px;border-radius: 10%;">
         
        <ul style="direction: rtl;">
            <li style= "font: xx-large;"><a href="#"> <h1 style="font-size: 20;margin-top: 0px;margin-bottom: 0px;">خانه</h1></a></li>
            <a href="#">  <li>Tutorials
                <ul>
                    <li><a href="#">Photoshop</a></li>
                    <li style="display: block;">Illustrator
                        <ul>
                            <a href="#"><li> hi</li></a>

                        </ul>

                    

                    <li><a href="#">Web Design</a></li>

                </ul>
            
            </li>   
        </a>
         </ul>   






    </div>
    <div class="gbox" style="width: 1240px;height: 617px;color: azure;position: absolute;margin-top: 200px;margin-left: 200px;top: -20px;">
    
        <div style="background-color: crimson;position: absolute;width: 800px;height: 75px;border-radius: 40%;right: 0px;top: 40px;left: 270px;bottom: 0px;background-color: rgb(8, 8, 4);"> <p style="font-size: larger;padding-left: 400px;padding-top: 15px;"> معرفی انواع اورفرز و کاربرد آن ها</p></div>
    <div class="white" style="background-color: white;width: 750px;top: 110px;left: 300px;height: 300px;margin-top: 110px;margin-left: 300px;border-radius: 5%;"><p style="color: brown;direction: rtl;font-size: 31px;padding-top: 10px;margin-bottom: 0px;">
        اورفرز دستگاهی کاربردی است که نجاران از آن برای ساخت هنرهای چوبی زیبا و متفاوت استفاده می‌کنند. از این ابزار نجاری می‌توان برای پروژه‌های مختلفی از جمله پرداخت، برش سطوح، برش لبه و برش از روی الگوها استفاده کرد.

        با ما همراه باشید تا در ادامه با انواع گوناگون اورفرز و نحوه استفاده از آن آشنا شوید. پس از خواندن این مطلب با اطلاعاتی که به دست آورده‌اید به کارایی و درجه اهمیت این ابزار پی خواهید برد و قادر هستید تا متناسب با نوع کارتان ابزاری مناسب خریداری کنید.

    </p> 
    <div class="submit">
    <button type="submit" style="font-size: large;"><a href={% url "mycom:second" %}> ادامه مطلب </a></button>    
    </div>

    </div>
     



    </div>







    <div class="left-side" style="width: 200px;height: 797px;background-color: blueviolet;" >
     <h1  style="font-size: 16;margin-top: 0px;color: cadetblue;margin-left: 15px;direction: rtl;"><b>به وبلاگ فروش ابزار خوش امدین</b></h1>
    
    <h2 style="font-size: 16px;margin-top: 16px;margin-left: 2px;margin-bottom: 0px; direction: rtl;padding-right: 7px;">در این وبلاگ با انواع ابزارلات اشنا میشوید و میتوانید ابزار مورد نیاز  خود را تهییه کنید </h2>
    
    <i class="fas fa-tools" style="font-size: 85px; padding-top: 75px;padding-left: 60px;color: red;"></i>

    <div class="icon reletionships">
        <a href="https://www.instagram.com/soheil.mh"><i class="fab fa-instagram" style="color: pink; font-size: 45px;padding-left: 40px;padding-top: 45px;"> </i></a>
        <a href="https://t.me/loxino01"><i class="fab fa-telegram" style="color: rgb(62, 155, 231);padding-left: 35px;font-size: 45px;"></i></a>
       </div>


    </div>
    

</div>




</body>
</html>
